/* courgette-regular - latin */

@font-face {
    font-family: 'Courgette';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/courgette-v5-latin/courgette-v5-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Courgette Regular'), local('Courgette-Regular'), url('../fonts/courgette-v5-latin/courgette-v5-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/courgette-v5-latin/courgette-v5-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/courgette-v5-latin/courgette-v5-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/courgette-v5-latin/courgette-v5-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/courgette-v5-latin/courgette-v5-latin-regular.svg#Courgette') format('svg');
    /* Legacy iOS */
}
/*
body{
  
}*/

/*anime js style start*/
.ml6 {
  position: relative;
  font-weight: 20;
  font-size: 4.3em;
  margin-top: 2.5%;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}
/*anime js style ends*/

#title_box{
  width: 100%;
  height: 250px;
  text-align: center;
  background-image: url('../images/images/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  color: #fff;
  font-family: 'Courgette';
}

.navbar-brand{
  font-family: 'Courgette';
  font-size: 2em;
}

nav input[type=search], #nav-search{
  border-radius: 20px;
  height: 40px;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;

}



nav input[type=search]:active, input[type=search]:focus, .btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
  
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 33% 0;
}

.latest_posts .card{
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

#all_blog .card{
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.popular_posts .card{
  padding: 20px;
  margin: auto;
  margin-bottom: 20px;
}

.giant-quote{
  background-color: #fff;
  height: 310px;
  max-height: 500px;
  display: block;
}

.giant-quote #quote{
  font-size: 2em;
}

.giant-quote #author{
  font-size: 1.5em;
}

.become_member .btn{
  width: 100px;
  height: 40px;   
}

.site_footer{
  background-color: #212121;
  color: #fff;
  overflow: hidden;
}

.site_footer .row{
  margin: auto;
}

#footer_logo{
  font-family: 'Courgette';
  font-weight: 50;  
}

#footer_logo h2{
  font-size: 5em;
  font-weight: 50;
  font-family: 'Courgette';
}

.login_section{
  background-color: #eee;
  height: 90%;
}

#login_box{
  margin: auto;
  height: 80%;
  width: 80%;
  background-color: #fff;
  align-content: center;
}

#login_pic{
  margin: auto;
  align-content: center;
  display: none;
}

#login_pic img{
  margin: auto;
  padding: 5em;
  padding-top: 2em;
}

@media only screen and (min-width: 1025px) {
        #login_pic{
          display: block;
        }
} 

#login_form input, #login_form .btn{
  width: 100%;
  border-radius: 10px;
  height: 50px;
}

.signup_section{
  background-color: #eee;
  height: 100%;
  padding: auto;
  overflow: hidden;
}

#signup_box{
  margin: auto;
  height: 90%;
  width: 80%;
  background-color: #fff;
  align-content: center;
}


#signup_form input{
  width: 100%;
  border-radius: 10px;
  height: 40px;
}

#signup_form textarea{
  width: 100%;
  border-radius: 10px;
  height: 50px;
}

#signup_form .btn{
  width: 100%;
  border-radius: 10px;
  height: 50px;
}

#signup_form{
  padding: 10px;
}

#post_single_img{
  max-height: 25em;
  max-width: 100%;
  margin: auto;
}

#title_text, #quote, #author{
  display: none;
}

